body {
    font-family: sans-serif;
}

#search-tab {
    height: 30px;
    border-radius: 2px;
    border: 1px solid grey;
    padding-left: 10px;
    margin-bottom: 10px;
}

#result-box {
    max-height: 300px;
    width: fit-content;
    overflow-y: scroll;
    background-color: rgb(236, 236, 236);
}

#result-box > p {
    margin: 0;
    padding: 5px 0 5px 15px;
}

#result-box > p:hover {
    cursor: pointer;
}

h4 {
    margin: 0 0 10px 0;
    font-size: 0.8rem;
}

.highlighted {
    background-color: rgb(138, 138, 138);
}